<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vivek Isukapalli">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Vivek Isukapalli professional website">
    <title>Vivek Isukapalli</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Vivek Isukapalli</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html" class="active">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >

                <i class="fa fa-bars" onclick="activeNav()"></i>


 
              </a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form action="">
            <label for="name"> Your Name (required):</label>
            <input type="text" id="name" required/>
            <label for="email"> Your Email (required):</label>
            <input type="email" id="email" required/>
            <label for="comment"> Your Comment or Question:</label>
            <textarea id="comment" cols="30" rows="10" required></textarea>
            <input id="submit" type="submit" value="Send" onclick="validate()"/>
        </form> 

       <p id="ValidateMsg"></p>

        <table>
            <tr><th>Contact Method</th><th>Description</th></tr>
            <tr><td>Email</td><td>vivek.isu@outlook.com</td></tr>
            <tr><td>Phone</td><td>732-770-6499</td></tr>
            <tr><td>LinkedIn</td><td>vivek-isukapalli</td></tr>
        </table>

    </div>
    <footer>
        <p id="copyYear">Vivek Isukapalli &copy</p>
    </footer>
</body>
</html>