<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vivek Isukapalli">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Vivek Isukapalli professional website">
    <title>Vivek Isukapalli</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Vivek Isukapalli</h1>
        <nav id="myTopnav" class="topnav">


            <a href="index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >

                <i class="fa fa-bars" onclick="activeNav()"></i>


 
              </a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Name</th><th>Description</th></tr>
            <tr><td>Global Investor Network</td><td>
                - Coded simulated real time trading platform from scratch using React, Express.js, Java, Google Cloud, and Amazon EC2. <br>
                - Integrated live stock quotes and financials using various data providers and the TradingView chart generation API. <br>
                - Marketed competition to 1200+ members from 39+ countries and received funding from Harvard’s ISL and other private companies


            </td></tr>
            <!-- <tr><td>Accessible Science</td><td>
                - Created website and wrote technology related articles for online magazine that aims to make cutting-edge news in STEM accessible to the general population through original articles written by a national board of high school writers
            </td></tr> -->

            <tr><td>FRC Team 2554</td><td>

                - President of an award winning First Robotics Competition team with over 40 members <br>
                - Dean's List Award Semi-Finalist for leadership, dedication and technical excellence <br>
                - Organized and marketed summer outreach sessions and taught 4000+ students form 5+ countries about electronics and programming. <br>
                - Role involves training new members and generating innovative robot designs to compete in various competitions

            </td></tr>
        </table>
        <a href="../static/resume.pdf" target="_blank">My Resume - pdf version</a>

    </div>
    <footer>
        <p id="copyYear">Vivek Isukapalli &copy</p>
    </footer>
</body>
</html>