<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Vivek Isukapalli" />
    <meta
      name="keywords"
      content="Carnegie Mellon University, Information Systems"
    />
    <meta name="description" content="Vivek Isukapalli professional website" />
    <title>Vivek Isukapalli</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script defer src="../static/script.js"></script>
  </head>
  <body onload=" addYear()">
    <header>
      <h1 id="webname">Vivek Isukapalli</h1>
      <nav id="myTopnav" class="topnav">


        <a href="index.html" class="active">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact Me</a>
        <a href="fun.html">For Fun</a>
        <a href="javascript:void(0);" class="icon" >

          <i class="fa fa-bars" onclick="activeNav()"></i>



        </a>
      </nav>
    </header>
    <div class="main">
      <h2 id="greeting"></h2>
      <img
        src="../static/photo_of_me.jpeg"
        alt="Vivek Isukapalli profile image"
        width="350px"
        class="classA"
      />

        <!-- <p id="intro">
          Greetings! I'm a freshman at Carnegie Mellon University, majoring in
          Information Systems. My journey into technology began with various
          robotics competitions I participated in since 4th grade. I love
          keeping up to date with the latest technologies and hope to one day
          create something really impactful. Alongside academics, I enjoy
          playing the piano, indulging in diverse musical genres, shooting
          hoops, and exploring new culinary delights. Take a look at the pages
          on this website to learn more about me.
        </p> -->
        <div class="classA">
          <span id="shortIntro"
            > Greetings! I'm a freshman at Carnegie Mellon University, majoring in
            Information Systems. My journey into technology began with various
            robotics competitions I participated in since 4th grade. I love
            keeping up to date with the latest technologies and hope to one day
            create something really impactful.
          </span>

          <span id="readMore"> read more ...</span>

          <span id="longIntro"
            >Alongside academics, I enjoy
            playing the piano, indulging in diverse musical genres, shooting
            hoops, and exploring new culinary delights. Take a look at the pages
            on this website to learn more about me.</span
          >

          <span id="readLess"> read less</span>
      </div>
    </div>
    <footer>
      <p id="copyYear">Vivek Isukapalli &copy</p>
    </footer>
  </body>
</html>
